@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}



h1,h2,h3,h4,
p {
  padding: 0;
  margin: 0;
  @media screen and (max-width: 380px){
font-size: 1.3rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
